### 1. Print Statement in Python

In [4]:
print("Hi")

Hi

In [5]:
print(4)

4

In [18]:
# A space is automatically added between two parameters passed inside print statement
print("I am", 23)

I am 23

### 2. Variable and Data Types 

- Python is completely object oriented, and not "statically typed". 
- You do not need to declare variables before using them, or declare their type. Every variable in Python is an object.

- Rules for Varibale Declaration in Python -
  1.  A variable name must start with a letter or the underscore character.
  2.  A variable name cannot start with a number.
  3.  A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  4.  Variable names are case-sensitive (age, Age and AGE are three different variables)
  5. Variable name can't be same as that of a keyword

- There are following datatypes in Python -
  1.   Integer - whole numbers (-4, 1000, 2647289)
  2.   Float - decimal values (-2.5, 1.0, 3.999999)
  3.   String - values enclosed in quotes ("Python", "A", "Python is easy!")
  4.   Boolean - True/False
  5.   Complex - complex numbers with real and imaginary part (1+2j, -3j, 2-j)

In [7]:
# Variable Declaration
x = 5

In [8]:
_x = 5

In [9]:
1x = 5

SyntaxError: ignored

In [10]:
x_1 = 5

In [12]:
break = 5

SyntaxError: ignored

In [15]:
# Datatypes
name = "Devanshi"
age = 23
comp_num = 23 + 4j
height = 5.2
job = True

print("Hi, I am", name)
print("I am", age, " years old")
print("Other variables....", comp_num, height, job)

Hi, I am Devanshi
I am 23  years old
Other variables.... (23+4j) 5.2 True

In [16]:
# More on Print Statements
# For adding next line use "\n"
print("\nI am Devanshi")

I am Devanshi

In [17]:
print("I am Devanshi\n")
print("Age....", age)

I am Devanshi

Age.... 23

#### **2.1 You can check the datatype by using type() function.**

In [31]:
type(comp_num)

complex

In [32]:
type(job)

bool

In [33]:
type(height)

float

#### **2.2 Type Conversion**

In [34]:
age = float(age)
print(age, type(age))

23.0 <class 'float'>

In [35]:
height = int(height)
print(height, type(height))

5 <class 'int'>

In [38]:
age = str(age)
print(age, type(age))

23.0 <class 'str'>

In [39]:
# You can convert a numerical value into string but the reverse isn't valid
name = int(name)

ValueError: ignored

### 3. Keywords and Placeholders

- **Keywords -** Keywords are the reserved words in Python that are used for a particular purpose. We cannot use a keyword as a variable name, function name or any other identifier. 

- **Placeholders -** Placeholder is a word, characters or a string of characters to hold a temporary place. When we have to pass multiple arguments then we use .format(). Here, the position of argument matters

In [21]:
# Placeholders
print(f"My name is {name}")

My name is Devanshi

In [22]:
# When we have to pass multiple arguments then we use .format
# Here, the position of argument matters
print("My name is {} and I am {} old".format(name, age))

My name is Devanshi and I am 23 old

In [23]:
print("My name is {} and I am {} old".format(age, name))

My name is 23 and I am Devanshi old

In [30]:
# You can name the arguments and then pass the values inside format in any order
print("My name is {x} and I am {} old".format(age, x="Devanshi"))

My name is Devanshi and I am 23 old

### 4. User Input

- User input can be taken by using input() function. 
- The function can have any message passed as an argument.
- The datatype of input passed by user is string by default.
- We need to convert its datatype to use in the program further accurately.

In [41]:
x = input()
print(x, type(x))

23
23 <class 'str'>

In [45]:
x = input("Enter a number : ")
print(x, type(x))

Enter a number : 23
23 <class 'str'>

In [46]:
x = int(input("Enter a number : "))
print(x, type(x))

Enter a number : 23
23 <class 'int'>